<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>SubCategory</title>
</head>
<body>
<h1>SubCategory List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Code</th>
    </tr>
    <tr th:each="subcategory:${subcategories}">
        <td th:text="${subcategory.id}">111</td>
        <td th:text="${subcategory.name}">SubCategory Name</td>
        <td th:text="${subcategory.code}">SubCategory Code</td>
    </tr>
</table>

</body>
</html>